/*  Variables  */

:root {
    /* colors */
    --white: #ffffff;
    --white-transparent-1lvl: rgb(255, 255, 255, 0.3);
    --black-1: #000000;
    --black-1-transparent-1lvl: rgba(0, 0, 0, 0.6);    
    --black-1-transparent-2lvl: rgba(0, 0, 0, 0.3);
    --black-1-transparent-3lvl: rgba(0, 0, 0, 0.2);
    --black-1-transparent-4lvl: rgba(0, 0, 0, 0.1);
    --black-2: #283136;
    --black-2-transparent-1lvl: rgba(40, 49, 54, 0.3);    
    --black-3: #444444;
    --grey-1: #EEEEEE;
    --more-grey-1: #DFDFDF;
    --very-grey-2: #D5D5D5;
    --dark-grey-3: #4D4D4D;
    --grey-2: #E1E1E1;
    --grey-3: #666666;    
    --light-grey: #888888;
    --basic-red: #FB565A;
    --more-red: #E74246;
    --very-red: #D7373B;
    --basic-green: #00CA74;
    --more-green: #00BC6C;
    --very-green: #00AA62;
    --basic-yellow: #EFC84A;
    --more-yellow: #EAB534;
    --very-yellow: #E5A722;  

    /* font-weights */
    --font-normal: 400;
    --font-medium: 500;
    --font-bold: 700;
}


/* global */

/* roboto-regular - latin_cyrillic */

@font-face {
    font-family: "Roboto";
    src: local("Roboto")
         url("../fonts/roboto-regular.woff2") format("woff2"),
         url("../fonts/roboto-regular.woff") format("woff");
    font-style: normal;
    font-display: swap;
}

  /* roboto-500 - latin_cyrillic */

  @font-face {
    font-family: "Roboto";
    src: local("Roboto Medium")
         local("Roboto-Medium")
         url("../fonts/roboto-500.woff2") format("woff2"), 
         url("../fonts/roboto-500.woff") format("woff");
    font-style: normal;
    font-weight: 500;  
    font-display: swap;        
}

  /* roboto-700 - latin_cyrillic */

  @font-face {
    font-family: "Roboto";
    src: local("Roboto Bold")
         local("Roboto-Bold")
         url("../fonts/roboto-700.woff2") format("woff2"), 
         url("../fonts/roboto-700.woff") format("woff"); 
    font-style: normal;
    font-weight: 700;   
    font-display: swap;      
}

body {
    min-width: 1180px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--font-normal);
    color: var(--black-1);
}

a,
a:visited {
    text-decoration: none;
    color: var(--black-1);
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.button {
    font: inherit;  
    width: 160px;
    height: 50px;   
    font-weight: var(--font-medium);   
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
}

.button:active {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button:visited {
    color: var(--white);
}

.button-red {  
    color: var(--white);
    background-color: var(--basic-red);
}

.button-red:hover {
    background-color: var(--more-red);
}

.button-red:active {
    background-color: var(--very-red);
    color: var(--white-transparent-1lvl);
}

.button-green {  
    color: var(--white);
    background-color: var(--basic-green);
}

.button-green:hover {
    background-color: var(--more-green);
}

.button-green:active {
    background-color: var(--very-green);
    color: var(--white-transparent-1lvl);
}

.button-yellow {  
    color: var(--white);
    background-color: var(--basic-yellow);
}

.button-yellow:hover {
    background-color: var(--more-yellow);    
}

.button-yellow:active {
    background-color: var(--very-yellow);
    color: var(--white-transparent-1lvl);    
}

.button-grey {
    color: var(--black-1);
    background-color: var(--grey-1);
}

.button-grey:hover {
    background-color: var(--more-grey-1);
}

.button-grey:active {
    background-color: var(--very-grey-2);
    color: var(--black-1-transparent-4lvl);
}

.title {
    font-size: 55px;
    line-height: 55px;
    font-weight: var(--font-medium);    
}


/* header style start */

/* Main navigation */


.main-header {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: var(--font-medium);
    color: var(--black-1);  
    background-color: var(--grey-1);
}

.main-header-logo {
    width: 160px;
    height: 65px;   
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;    
}

.main-navigation-wrapper {
    width: 100%; 
}

.site-navigation {
    display: flex;
    justify-content: space-around;
    width: 438px;
    margin: 0;
    padding: 0;
    min-height: 31px;
}

.cart {
    max-width: 115px;
}



/* User navigation */

.site-navigation a,
.cart a {
  color: var(--black-1);
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart a:hover,
.cart a:focus {
  color: var(--basic-red);
}

.site-navigation a:active,
.cart a:active {
    color: var(--black-1-transparent-2lvl);
}

/* header style end */


/* index style start */

/* main style start*/

/* advantages style */

.advantages {
    margin-bottom: 80px;
    background-color: var(--grey-1);
}

.advantages-desc {
    color: var(--black-2);
}


/* ТРЕБУЕТСЯ ДОРАБОТКА !!!( У ссылки не присваивается белый цвет текста) */

.button-advantages {
    padding: 17px 54px 15px 54px;   
}

/* products style */ 


.products-list p {
    max-width: 260px;
    margin-bottom: 32px;
}

.products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.products-list img {
    margin-bottom: 25px;
}

.products-list h3 {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: var(--font-bold);
    text-transform: uppercase;    
}

.products-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.line {
    margin-top: 80px;
    border: none;
    width: 1158px;
    height: 2px;
    background-color: var(--grey-1);    
}

/* activity style */

.activity-title {
    font-size: 45px;
    line-height: 45px;
    font-weight: var(--font-medium);
}

.activity-text {
    color: var(--black-2);
}

.options-title {
    color: var(--black-2);
    text-transform: uppercase;
    font-weight: var(--font-bold);
}

.options-list {
    color: var(--black-2);
}

.benefit-title {
    text-transform: uppercase;
    font-weight: var(--font-bold);
}

.benefit-percents {
    font-size: 45px;
    line-height: 64px;
    font-weight: var(--font-bold);    
}

.benefit-value {
    color: var(--black-2);
    line-height: 18px;
}

/* partners style start (in developing) */

/* partners stle end (in developing)*/

/* pipup style */

.address-title {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: var(--font-bold);
}

.address-direction {
    line-height: 18px;
    color: var(--grey-3);
}

.button-adress {
    width: 219px;
    height: 50px;
}

/* main style end */


/* footer style start */

.footer {
    margin-top: 69px;
    display: flex;
    justify-content: space-between;
}



/* social style */

.social-list {
    margin: 0;
    width: 261px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 9px;
}


/* attraction style */

.attractions {
    width: 660px;
    margin-right: 139px;
}

.attraction {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: var(--font-bold);
}

.attraction-desc {
    color: var(--black-3);
}

/* footer style end */

/* index style end */


/* catalog style start */

/* main style */

.page-catalog {
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 140px;
    align-content: start;
}

/* title style */

.page-title {
    margin: 0;
    margin-bottom: 55px;
    padding: 0;
    grid-column: 1 / -1;
    text-align: center;
    background-color: var(--grey-1);     
}

/* filters style */

.filters {
    width: 260px;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 43px;
    border: none;
}

.filter fieldset:first-child {
    margin-bottom: 54px;
}

.filter fieldset:last-child {
    margin-bottom: 48px;
}

.filter ul {
    padding: 0;
    margin: 0;
}
  

/* form style */

.form-range__label {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--black-2);
}

.legend {
    margin-bottom: 16px;
    font-weight: var(--font-bold);
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.label {
    font-size: 16px;
    line-height: 19px;
    color: var(--black-2)
}

.form-button {
    width: 250px;
    height: 50px;      
}



/* catalog style */



.sorting {
    color: var(--black-1-transparent-2lvl);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.sorting:hover {
    color: var(--black-1-transparent-1lvl);
}

.sorting:active {
    color: var(--black-1);
}



.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    padding: 0;
    margin: 0;
    margin-bottom: 55px;
}

.catalog-item {
    width: 358px;
    min-height: 620px;
    margin-bottom: 33px;
}

.catalog-item:hover .catalog-depiction {
    display: flex;
}

.catalog-item-image {
    width: 358px;
    height: 576px;
    margin: 0;
}

.catalog-title {
    text-align: center;
    font-weight: var(--font-bold);
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.catalog-title:hover {
    color: var(--basic-red);
}

.catalog-title:active {
    color: var(--black-1-transparent-2lvl);
}

.catalog-description {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: var(--grey-3);
}

.catalog-depiction {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    min-height: 231px;
    background-color: var(--grey-1);
}

.catalog-button {
    width: 200px;
    height: 50px;      
}

.button-number {
    display: block;
    width: 50px;
    height: 50px;
}

.button-next {
    display: block;
    width: 260px;
    height: 50px;
}



/* catalog style end */