/*  Variables  */

:root {
    --white: #ffffff;
    --white-transparent-1lvl: rgb(255, 255, 255, 0.3);
    --black-1: #000000;
    --black-1-transparent-1lvl: rgba(0, 0, 0, 0.3);
    --black-1-transparent-2lvl: rgba(0, 0, 0, 0.2);
    --black-1-transparent-3lvl: rgba(0, 0, 0, 0.1);
    --basic-red: #FB565A;
    --more-red: #E74246;
    --very-red: #D7373B;
    --basic-green: #00CA74;
    --more-green: #00BC6C;
    --very-green: #00AA62;
    --basic-yellow: #EFC84A;
    --more-yellow: #EAB534;
    --very-yellow: #E5A722;
    --grey-1: #EEEEEE;
    --more-grey-1: #DFDFDF;
    --very-grey-2: #D5D5D5;
    --dark-grey-3: #4D4D4D;
    --grey-2: #E1E1E1;
    --black-2: #283136;
    --black-2-transparent-1lvl: rgba(40, 49, 54, 0.3);
    --light-grey: #888888;
    --grey-3: #666666;
}


/* global */

body {
    min-width: 1460px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--black-1);
}

a,
a:visited {
    text-decoration: none;
    color: var(--black-1);
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.button {
    font: inherit;  
    width: 160px;
    height: 50px;      
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
}

.button:active {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-red {  
    color: var(--white);
    background-color: var(--basic-red);
}

.button-red:hover {
    background-color: var(--more-red);
}

.button-red:active {
    background-color: var(--very-red);
    color: var(--white-transparent-1lvl);
}

.button-green {  
    color: var(--white);
    background-color: var(--basic-green);
}

.button-green:hover {
    background-color: var(--more-green);
}

.button-green:active {
    background-color: var(--very-green);
    color: var(--white-transparent-1lvl);
}

.button-yellow {  
    color: var(--white);
    background-color: var(--basic-yellow);
}

.button-yellow:hover {
    background-color: var(--more-yellow);    
}

.button-yellow:active {
    background-color: var(--very-yellow);
    color: var(--white-transparent-1lvl);    
}

.title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
}


/* header style start */

/* Main navigation */


.main-header {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: var(--black-1);  
    background-color: var(--grey-1);
}

.site-navigation {
    list-style: none;
}


/* User navigation */

.site-navigation a,
.cart a {
  color: var(--black-1);
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart a:hover,
.cart a:focus {
  color: var(--basic-red);
}

.site-navigation a:active,
.cart a:active {
    color: var(--black-1-transparent-1lvl);
}

/* header style end */


/* index style start */

/* main style start*/

/* advantages style */

.advantages {
    text-align: center;
    background-color: var(--grey-1);
}


/* products style */ 

.products {
    text-align: center;
}

.products-list {
    list-style: none;
}

.products-list h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;    
}

.line {
    border: none;
    width: 1158px;
    height: 2px;
    background-color: var(--grey-1);    
}

/* main style end */


/* footer style start */

.social-list {
    list-style: none;
}

/* social style */

.social-list {
    list-style: none;
}

/* attraction style */

.attraction {
    font-size: 36px;
    line-height: 36px;
}

/* footer style end */

/* index style end */


/* catalog style start */

/* title style */

.shop {
    text-align: center;
    background-color: var(--grey-1);
}

/* form style */

.legend {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}

.label {
    color: var(--black-2)
}

.form-button {
    width: 250px;
    height: 50px;      
    color: var(--black-1);
    background-color: var(--grey-1);
}

.form-button:hover {
    background-color: var(--more-grey-1);
}

.form-button:active {
    background-color: var(--very-grey-2);
    color: var(--black-1-transparent-3lvl);
}

/* catalog style */

.catalog-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}

.catalog-title:hover {
    color: var(--basic-red);
}

.catalog-title:active {
    color: var(--black-1-transparent-1lvl);
}

.catalog-description {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: var(--grey-3);
}

.catalog-depiction {
    background-color: var(--grey-1);
}

.catalog-button {
    width: 200px;
    height: 50px;      
    color: var(--white);
    background-color: var(--basic-red);
}

.catalog-button:hover {
    background-color: var(--more-red);
}

.catalog-button:active {
    background-color: var(--very-red);
    color: var(--white-transparent-1lvl);
}

/* catalog style end */